<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>PID</th>
            <th>Page</th>
            <th>list_type</th>
            <th>colPos</th>
            <th>Element deleted</th>
            <th>Page deleted</th>
        </tr>
    </thead>
    <tbody>
        <f:for each="{entities}" as="entity">
            <tr>
                <td>{entity.pagesUid}</td>
                <td>{entity.pageTitle}</td>
                <td>{entity.list_type}</td>
                <td>{entity.colPos}</td>
                <td>{entity.contentDeleted}</td>
                <td>{entity.pagesDeleted}</td>
            </tr>
        </f:for>
    </tbody>    
</table>