<f:be.container
    includeCssFiles="{0: '{f:uri.resource(path:\'vendor/twitter/bootstrap/3.3.4/css/bootstrap.min.css\')}', 
    1: '{f:uri.resource(path:\'vendor/twitter/bootstrap/3.3.4/css/bootstrap-theme.min.css\')}'}" 
    includeJsFiles="{0: '{f:uri.resource(path:\'vendor/twitter/bootstrap/3.3.4/js/bootstrap.min.js\')}'}"
    loadPrototype="true"
    loadJQuery="true">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div id="typo3-docheader-row1">
                <div class="buttonsleft">
                    <span style="color:#FFF"></span>
                </div>
                <div class="buttonsright">
                </div>
            </div>
            <div id="typo3-docheader-row2">
                <div class="docheader-row2-left">
                    <f:translate key="view.header.name"/>
                </div>
                <div class="docheader-row2-right">
                    <f:be.pagePath/>
                    <f:be.pageInfo/>
                </div>
            </div>
        </div>

        <div id="typo3-docbody">
            <div id="typo3-inner-docbody"  class="container-fluid">
                <f:render section="Content" />
            </div>
        </div>    
    </div>
</f:be.container>