<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:flashMessages/>

<f:be.container>
    <div class="module-docheader t3js-module-docheader" style="height: auto;">
        <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">

        </div>
    </div>
    <div id="module-body t3js-module-body" style="padding-top: 89px;padding-left: 24px;">
        <f:render section="content"/>
    </div>
</f:be.container>


</html>
